<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Surfs Up</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <% products.forEach(function(product){ %>
      <div class="col-md-4 product-container">
        <h3><%= product.title %></h3>
        <img src="/images/<%=product.thumbNailImg %>" alt="">
        <% if(product.onSale){ %>
          <div >
            Original Price:
            <span class="originalPrice">
              $<%=product.originalPrice %>
            </span>
          </div>
          <div >
            <span class="price sale">
              Sale Price:
              $<%=product.price %>
            </span>
          </div>
        <% }else{ %>
          <div class="price">
            $<%=product.price %>
          </div>
        <% } %>
        <p><%=product.description %> </p>
        <p><a class="btn btn-secondary" href="/product/<%=product.id %>" role="button">View details »</a></p>
      </div>
    <% }) %>
  </div>
</div>
