<div class="container product-list-container">
  <!-- Example row of columns -->

  <h1><%= pageHeading %></h1>
  <br>
  <div class="row">
    <% if(noResults){ %>
      No Products have been found
    <%}%>
    <% products.forEach(function(product){ %>
      <div class="col-md-4 product-container">
        <h3><%= product.title %></h3>
        <img src="/images/<%=product.thumbNailImg %>" alt="">
        <% if(product.onSale){ %>
          <div >
            Original Price:
            <span class="originalPrice">
              $<%=product.originalPrice %>
            </span>
          </div>
          <div >
            <span class="price sale">
              Sale Price:
              $<%=product.price %>
            </span>
          </div>
        <% }else{ %>
          <div class="price">
            $<%=product.price %>
          </div>
        <% } %>
        <p><%=product.description %> </p>
        <p><a class="btn btn-secondary" href="/product/<%=product.id %>" role="button">View details »</a></p>
      </div>
    <% }) %>
  </div>
</div>
