<div class="container details-container">
  <!-- Example row of columns -->
  <div class="row">
      <div class="col-md-4 product-container">
        <h3><%= product.title %></h3>
        <img src="/images/<%=product.thumbNailImg %>" alt="">
        <% if(product.onSale){ %>
          <div >
            Original Price:
            <span class="originalPrice">
              $<%=product.price %>
            </span>
          </div>
          <div >
            <span class="price sale">
              Sale Price:
              $<%=product.salePrice %>
            </span>
          </div>
        <% }else{ %>
          <div class="price">
            $<%=product.price %>
          </div>
        <% } %>
        <p><%=product.description %> </p>
      </div>
  </div>
</div>
