<div class="fluid-container list-container">
 <a class="btn btn-outline-primary my-2 my-sm-0" href="/admin/addProduct"> Add Product</a>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Thumb Nail</th>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>On Sale</th>
        <th>Category</th>
        <th>Review Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(product){ %>
          <tr>
            <td><img class="thumbNail" src="/images/<%=product.thumbNailImg %>" alt=""></td>
            <td><%= product.title %></td>
            <td><%= product.description %></td>
            <td>$<%= product.price %></td>
            <td>
              <%if(product.onSale){%>
                  <i class="fa fa-check" style="color:green" aria-hidden="true"></i>
              <%}%>
            </td>
            <td><%= product.category%></td>
            <td><%= product.reviews.length %></td>
            <td>
                <a class="btn btn-outline-warning my-2 my-sm-0" href="/admin/editProduct/<%=product.id %>">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <button  class="btn btn-outline-danger my-2 my-sm-0 erase-btn" data-value="<%=product.id %>" data-title="<%=product.title %>" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-eraser" aria-hidden="true"></i>
                </button>
            </td>
          </tr>
      <% }) %>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Delete Product?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form  action="/admin/deleteProduct" method="POST">
                <input id="deleteProductValue" type="hidden" name="product_id" value="">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
$('.erase-btn').click(function() {
  $("#deleteProductValue").val($(this).attr("data-value"))
  $('.modal-body').html("Are you sure you want to delete "+$(this).attr("data-title"));
});
</script>
