<div class="container details-container">
  <!-- Example row of columns -->
  <div class="row">
      <div class="col-md-4 product-container">
        <h2><%= product.title %></h2>
        <img src="/images/<%=product.thumbNailImg %>" alt="">
        <% if(product.onSale){ %>
          <div >
            Original Price:
            <span class="originalPrice">
              $<%=product.originalPrice %>
            </span>
          </div>
          <div >
            <span class="price sale">
              Sale Price:
              $<%=product.price %>
            </span>
          </div>
        <% }else{ %>
          <div class="price">
            $<%=product.price %>
          </div>
        <% } %>
        <p><%=product.description %> </p>
        <p><a class="btn btn-secondary" href="/product/<%=product.id %>/write-review" role="button">Write A Review »</a></p>
        <div class="row">
            <% if(typeof product.reviews !== 'undefined' && product.reviews.length > 0){ %>
              <h2>Reviews</h2>
            <% }%>
            <% product.reviews.forEach(function(review){ %>
                <div class="col-12">
                    <h5>
                        <%= review.title %>
                        <span class="starRating">
                            <% for(var i = 0;i<review.starRating;i++){ %>
                                &#xf005;
                            <%} %>
                        </span>
                    </h5>
                    <p><%= review.description %></p>
                </div>
            <%})%>
        </div>

        <%if(authenticated){ %>
            <h3>Admin Only</h3>
            <p>View Count (<%=product.viewCount %>)</p>
        <%}%>
      </div>
  </div>
</div>
